/*----------------
  HELPER STYLES
----------------*/

:root {
  --body-bg: #f5f5f5;
  --main-bg: white;
  --main-text: #232629;
  --main-border: #eeeeee;
  --secondary-text: #2f3337;

  --spring-easing: linear(0, 0.03, 0.11 5%, 0.59 14%, 0.79, 0.93, 1.01, 1.03, 1.04 38%, 1 64%, 1);
  --spring-duration: 0.667s;
}

@font-face {
  font-family: "Vela Sans";
  src: url("./fonts/VELASANS-BOLD.OTF");
  font-weight: bold;
}

@font-face {
  font-family: "Vela Sans";
  src: url("./fonts/VELASANS-SEMIBOLD.OTF");
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--main-text);
}

a {
  color: inherit;
}

button {
  background: none;
  border: none;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
}

body {
  margin: 0;
  background-color: var(--body-bg);
}

#grid {
  width: 400px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 96px;
  padding: 0.5rem;
  gap: 0.5rem;

  & > main,
  & > footer {
    background-color: var(--main-bg);
    border-radius: 12px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  }
}

/* DOMAIN HEADER */

#domain-header {
  padding: 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

#domain-header > h2 {
  color: var(--main-text);
  font-family: "Vela Sans";
  font-weight: bold;
  font-size: 18px;
  margin: 0;

  min-width: max-content;
}

#domain-header > hr {
  width: 100%;
  height: 0.5px;
  margin: 0;
  border: 0.5px solid var(--main-border);
}

/* DOMAIN MAIN */

#domain-main {
  padding: 4px;
}

#domain-main > article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 8px;
  border-radius: 8px;

  & > p.domain {
    font-family: "Vela Sans";
    font-weight: 600;
    font-size: 13px;

    color: var(--secondary-text);
  }

  & .remove-button {
    opacity: 0;
    scale: 0.85;
    transition: var(--spring-easing) 0.25s;
  }

  &:hover .remove-button {
    opacity: 1;
    scale: 1;
  }
}

#domain-main > article:nth-child(even) {
  background-color: var(--main-border);
  /* inner shadow */
  box-shadow: inset 0px 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

/* FOOTER */

#grid > footer {
  display: flex;
  padding: 12px;
  gap: 12px;

  & > #footer-prose {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 7px 0;

    & > header,
    & > div {
      width: 100%;
      display: flex;
      align-items: center;
      font-family: "Vela Sans";
      font-weight: bold;
      color: var(--main-text);
    }

    & > header {
      gap: 12px;
      padding-right: 13px;

      & > hr {
        width: 100%;
        height: 0.5px;
        margin: 0;
        border: 0.5px solid var(--main-border);
      }
    }

    & > div {
      justify-content: space-between;
      padding-right: 7px;
    }
  }
}

/* POPUP */

[popover] {
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  background-color: var(--main-bg);
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border: 1.5px solid var(--main-border);

  opacity: 0;
  transform: scale(0.85);
  transition-timing-function: var(--spring-easing);
  transition: opacity var(--spring-duration), transform var(--spring-duration), overlay var(--spring-duration) allow-discrete, display var(--spring-duration) allow-discrete;

  &:popover-open {
    transition-timing-function: var(--spring-easing);
    opacity: 1;
    transform: scale(1);

    &::backdrop {
      transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
      background-color: rgba(0, 0, 0, 0.35);
    }
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0);
    /* backdrop has easeOutExpo, instead of linear spring anim */
    transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    transition: background-color var(--spring-duration), overlay var(--spring-duration) allow-discrete, display var(--spring-duration) allow-discrete;
  }

  & header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

  & header > h2 {
    font-family: "Vela Sans";
    font-weight: bold;
    font-size: 18px;
    color: var(--main-text);
  }

  & header > hr {
    flex: 1;
    width: 100%;
    height: 0.5px;
    margin: 0;
    border: 0.5px solid var(--main-border);
  }

  & header > button {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: var(--spring-easing) 0.25s;
  }

  & main {
    display: flex;
    gap: 12px;
    font-family: "Vela Sans";
    font-weight: 600;
    color: var(--secondary-text);
  }
}

@starting-style {
  [popover]:popover-open {
    /* transition-timing-function: var(--spring-easing); */
    opacity: 0;
    transform: scale(0.85);
  }
}

@starting-style {
  [popover]:popover-open::backdrop {
    background-color: rgba(0, 0, 0, 0);
  }
}

/* CREDITS */

/* SETTINGS */

/* BUTTON */

.button {
  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: var(--spring-easing) 0.25s;
}

/* FIXME: these hover styles shouldn't have to be important? */

.button:hover {
  scale: 1.1 !important;
}

.button:active {
  scale: 0.9 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #1a1a20;
    --main-bg: #242428;
    --main-text: #f2f2f3;
    --main-border: #1a1a1d;
    --secondary-text: #dddde3;
  }
}
