:root {
  --hypersearch-border-color: #dadce0;

  --spring-easing: linear(0, 0.03, 0.11 5%, 0.59 14%, 0.79, 0.93, 1.01, 1.03, 1.04 38%, 1 64%, 1);
  --spring-duration: 0.667s;
}

.hypersearch-result {
  position: relative;
  max-width: 600px;

  &:hover .hypersearch-opts {
    opacity: 1;
    left: calc(100%);
    scale: 1;

    & div {
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    }
  }

  &[data-hypersearch-hidden] {
    display: none;
  }
}

.hypersearch-opts {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 0.5rem;
  height: 50%;
  max-height: 100px;

  /* initial transition state */
  opacity: 0;
  left: calc(100% - 1rem);
  scale: 0.85;

  transition: all var(--spring-easing) var(--spring-duration);

  & div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    align-items: center;
    justify-content: center;

    padding: 0.5rem;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 7px;

    /* initial transition state */
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0);

    transition: all var(--spring-easing) var(--spring-duration);

    & button.hypersearch-opt {
      background-color: transparent;
      background-size: 32px;
      background-repeat: no-repeat;
      background-position: center;
      border: none;
      margin: 0;
      padding: 0;
      width: 32px;
      height: 32px;
      cursor: pointer;
      transition: all var(--spring-easing) 0.25s;

      &:hover {
        scale: 1.1;
      }

      &:active {
        scale: 0.9;
      }
    }
  }

  &:hover,
  &:has(button:focus) {
    opacity: 1;
    left: calc(100%);
    scale: 1;

    & div {
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
    }
  }
}

.hypersearch-opts button[data-hypersearch-action="pin"] {
  display: none;
}

.hypersearch-opts[data-hypersearch-theme="dark"] {
  & button[data-hypersearch-action="hide"] {
    background-image: url("chrome-extension://__MSG_@@extension_id__/assets/hide_dark.svg");
  }

  & button[data-hypersearch-action="pin"] {
    background-image: url("chrome-extension://__MSG_@@extension_id__/assets/pin_dark.svg");
  }
}

.hypersearch-opts[data-hypersearch-theme="light"] {
  & button[data-hypersearch-action="hide"] {
    background-image: url("chrome-extension://__MSG_@@extension_id__/assets/hide_light.svg");
  }

  & button[data-hypersearch-action="pin"] {
    background-image: url("chrome-extension://__MSG_@@extension_id__/assets/pin_light.svg");
  }
}
