/*----------------
  HELPER STYLES
----------------*/

:root {
  --light: white;
  --secondary-light: #f5f5f5;
  --hovered: #ebebeb;
  --dark: #262626;
  --secondary-dark: #535353;
}

@font-face {
  font-family: Neutral Face;
  src: url("./assets/fonts/NEUTRALFACE-BOLD.OTF");
  font-weight: bold;
}

@font-face {
  font-family: Neutral Face;
  src: url("./assets/fonts/NEUTRALFACE.OTF");
  font-weight: normal;
}

@font-face {
  font-family: Satoshi;
  src: url("./assets/fonts/SATOSHI-MEDIUM.OTF");
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--dark);
}

body {
  margin: 0;
}

/*----------------
  BUTTON STYLES
----------------*/

.button {
  width: 24px;
  height: 24px;

  background-color: var(--light);

  border: 0.5px solid var(--dark);
  border-radius: 8px;

  cursor: pointer;

  transition: 0.4s;
}

/* apply styles only when button is hovered over while not toggled */
.button:not(.button-toggled):not(.button-text):hover {
  background-color: var(--hovered);
}

.button-toggled {
  background-color: var(--dark);
}

.button-text {
  width: auto;

  padding: 0 16px;

  color: var(--light);
  background-color: var(--dark);

  font-family: "Neutral Face";
  font-weight: bold;
  font-size: 12px;
}

.button-remove {
  width: 16px;

  border: none;
  border-radius: 0px;

  background-image: url("./assets/img/trash.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
}

.button-remove:hover {
  background-color: white !important;
}

/*----------------
  POPUP STYLES
----------------*/

#popup-content {
  display: flex;
  flex-direction: column;

  width: 400px;
  height: 600px;

  background-color: white;

  overflow: hidden;
}

/*----------------
  HEADER
----------------*/

header#header-frame {
  width: 100%;
  height: 56px;

  padding: 16px;

  display: flex;
  gap: 8px;
}

#input {
  flex-grow: 1;

  padding: 0 8px;

  border: 1px solid var(--dark);
  border-radius: 8px;

  font-family: "Satoshi";
  font-size: 12px;
}

/*----------------
  CONTENT FRAME
----------------*/

.content-frame {
  width: 100%;

  padding: 8px 24px;

  flex-grow: 1;

  overflow-y: auto;
}

.frame-invisible {
  display: none;
}

.frame-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  width: 100%;
}

h1.frame-heading {
  font-family: "Neutral Face";
  font-weight: bold;
  font-size: 18px;
}

h2.frame-heading {
  margin-bottom: 12px;

  font-family: "Neutral Face";
  font-weight: normal;
  font-size: 14px;

  color: var(--secondary-dark);
}

/*----------------
  DOMAINS EXCLUSIVE
----------------*/

#frame-header-table {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-right: 25px;
}

#frame-header-table > p {
  width: 42px;

  text-align: center;

  font-family: "Satoshi";
  font-size: 10px;

  color: var(--secondary-dark);
}

.domain-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.domain {
  font-family: Satoshi;
  font-size: 12px;

  color: var(--secondary-dark);
}

.domain-settings {
  display: flex;
  gap: 18px;
}

/*----------------
  SETTINGS EXCLUSIVE
----------------*/

#settings-frame {
  overflow: hidden;
}

.frame-section {
  margin: 24px 0;
}

.flex-buttons {
  display: flex;

  gap: 16px;
}

.button-column {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.labeled-option {
  display: flex;
  align-items: center;

  gap: 4px;
}

.labeled-option > .label {
  font-family: "Satoshi";
}

.frame-section#credits-section {
  margin-bottom: 0;
}

.frame-content#credits-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.credits {
  display: flex;
}

.credits p {
  font-family: "Satoshi";
}

.credits-label {
  width: 96px;

  &::after {
    content: "-";
    margin: 0 4px;
  }
}

.credits-list > .credits-item {
  padding: 2px 0;
  line-height: 1;
}

/*----------------
  FOOTER
----------------*/

footer#footer-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  width: 100%;
  padding: 8px;
  overflow: hidden;

  & .footer-nav {
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }

  & h1,
  & p {
    font-family: "Neutral Face";
    font-weight: bold;
    margin: 0;
  }

  & #footer-heading {
    font-size: 48px;
    line-height: 0.95;
  }

  & #footer-credit {
    font-size: 13px;
    color: var(--secondary-dark);

    & a {
      color: var(--secondary-dark);
    }
  }
}
